@import './variables.scss';

.App {

  // font-family: 'Inter', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $background-color;
  
}


span {
  vertical-align: middle;
}

.icon {
  vertical-align: middle;
  margin: 0 5px;
}