$background-color: linear-gradient(106.37deg, #FFE1BC 29.63%, #FFCFD1 51.55%, #F3C6F1 90.85%);
$yellow-color: linear-gradient(100deg, #F8D49A -146.42%, #FAD79D -46.42%);
$orange-color: #FCA61F;
$black-color: rgb(41, 44, 53);
$gray-color: #788097;
$purple-color: linear-gradient(100deg, #BB67FF 0%, #C484F3 100%, 0);
$pink-color: #FF919D;
$pink-color-hover: #ffa1ac;
$glass: rgba(255, 255, 255, 0.6);
$glass-sm : rgba(255, 255, 255, 0.4);
$box-shadow: 0 19px 60px rgba(0, 0, 0, 0.08);
$box-shadow-sm: -79px 51px 60px rgba(0, 0, 0, 0.08);
$active: #F799A360;